{{#let @flowState.value as |stateName|}}
  {{#if (eq stateName "stateOne")}}
    <ComplexFlow::FlowStates::StateOne
      @flowState={{@flowState}}
      @updateFlow={{@updateFlow}}
    />
  {{else if (eq stateName "stateTwo")}}
    <ComplexFlow::FlowStates::StateTwo
      @flowState={{@flowState}}
      @isValidating={{@isValidating}}
      @updateFlow={{@updateFlow}}
    />
  {{else if (eq stateName "stateThree")}}
    <ComplexFlow::FlowStates::StateThree
      @flowState={{@flowState}}
      @updateFlow={{@updateFlow}}
    />
  {{else if (eq stateName "stateFour")}}
    <ComplexFlow::FlowStates::StateFour
      @flowState={{@flowState}}
      @updateFlow={{@updateFlow}}
    />
  {{else if (eq stateName "stateFive")}}
    <ComplexFlow::FlowStates::StateFive
      @flowState={{@flowState}}
      @updateFlow={{@updateFlow}}
    />
  {{else}}
    <h1>ERROR: {{stateName}} not supported</h1>
  {{/if}}
{{/let}}
